
@model WebAppJQ.Models.Customer


<div class="row">
    <div class="col-lg-2"><label>Name</label></div>
    <div class="col-lg-10">@Model.name</div>
</div>

<div class="row">
    <div class="col-lg-2"><label>Class</label></div>
    <div class="col-lg-10">@Model.company</div>
</div>

<div class="row">
    <div class="col-lg-2"><label>Subjects</label></div>
    <div class="col-lg-10">@Model.address</div>
</div>
<div class="row">
    <div class="col-lg-2"><label>Subjects</label></div>
    <div class="col-lg-10">@Model.city</div>
</div>